<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"> 
<title>todays-picture</title>
</head>
<div class='todays-picture'>
<%= image_tag "ani10.JPG", class:"todays-picture" %>
<p>Today's shot</p>          
</div>

