<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"> 
<title>todays-picture</title>
</head>
<ul class='todays-picture'>
  <li class='image'>
  <%= image_tag "home.jpg" %>
  <p class='todays-picture-text'>Today's Shot</p>
  <p class='next-picture-text'><a href="photo/index.html"> More Shot</a></p>
 </li>
</div>