.Buy-me-text {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0; 
  color: white;
  background: skyblue;
  font-size: 2em;
  line-height: 1;
  padding: 5px 10px;
  }
  
.flex-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-box img {
  top: 0;
  right: 0;
  margin: 0; 
  flex-basis: 30%;
  background: #fff;
  font-size: 64px;
  text-align: center;
  width: 100%;
}

.flex-picture-text {
  position: relative;
  top: 0;
  right: 0;
  margin: 0; 
  color: white;
  background: skyblue;
  font-size: 2em;
  line-height: 1;
  padding: 5px 10px;
  }

li{
    list-style: none;
  }

a:link {color:white;} 
a:visited {color:white;}   